<nav class="fixed block left-0 top-0 bottom-0 w-[240px] px-2 py-2 z-20 h-full border-r-2">
    <div class="flex flex-col gap-[36px] my-2 mx-2">
        <section class="">
            <div class="py-2 px-2 justify-start items-center flex flex-row gap-[10px] rounded-[10px]" style="background-color: rgba(0, 110, 255, 0.07);">
                <img src="assets/icons/logo.svg" alt="Logo">
                <div class="flex flex-col">
                    <h1 class="font-bold text-[14px]">TOKENA</h1>
                    <p class="text-[12px]">Finance app</p>
    
                </div>
            </div>
        </section>
        <section>
            <div class="px-1 py-1 text-[16px]" style="color: #7e7e7e;">
                Menu
            </div>
            <div class="px-1 py-1">
                <ul>
                    <li class="w-full bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/home.svg" alt="">
                        Dashboard
                    </li>
                    <li class="w-full active:bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium active:text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/news.svg" alt="">
                        News
                    </li>
                    <li class="w-full active:bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium active:text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/chart.svg" alt="">
                        Activities
                    </li>
                    <li class="w-full active:bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium active:text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/card.svg" alt="">
                        Cards
                    </li>
                    <li class="w-full active:bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium active:text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/reports.svg" alt="">
                        Reports
                    </li>
                    <li class="w-full active:bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium active:text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/bell.svg" alt="">
                        Notification
                    </li>
                    <li class="w-full active:bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium active:text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/wallet.svg" alt="">
                        Billing
                    </li>
                    <li class="w-full active:bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium active:text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/invoice.svg" alt="">
                        Invoices
                    </li>
                    <li class="w-full active:bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium active:text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/headphone.svg" alt="">
                        Help center
                    </li>
                    <li class="w-full active:bg-blue-500  py-2 px-2 rounded-[10px] text-[14px] font-medium active:text-white flex flex-row gap-[4px]">
                        <img src="assets/icons/settings.svg" alt="">
                        Settings
                    </li>
                </ul>
            </div>
        </section>
    </div>
</nav>