<nav class="fixed block left-0 top-0 bottom-0 w-[240px] px-2 py-2 z-20 h-full border-r-2">
    <div class="flex flex-col gap-[36px] my-2 mx-2">
        <section class="">
            <div class="py-2 px-2 justify-start items-center flex flex-row gap-[12px] rounded-[10px]" style="background-color: rgba(0, 110, 255, 0.07);">
                <img src="assets/icons/logo.svg" alt="Logo">
                <div class="flex flex-col">
                    <h1 class="font-bold text-[12px]">TOKENA</h1>
                    <p class="text-[10px]">Finance app</p>
    
                </div>
            </div>
        </section>
        <section>
            <div>
                Menu
            </div>
            <div class="px-2 py-2">
                <ul>
                    <li>
                        Nav1
                    </li>
                </ul>
            </div>
        </section>
    </div>
</nav>